div.score {
	visibility: hidden;
}

div.jQBracket .team {
	height: 60px;
	position: relative;
	vertical-align: middle;
}
/* div.label {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */

div.label {
	height: 60px;
	position: relative;
	vertical-align: middle;
}

div.jQBracket .team div.label {
	height: 60px;
	text-align: center;
	vertical-align: middle;
}
